<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ticket System</title>
</head>
<body>
    <div class="container">
        <div>
            <strong>標題</strong>
            <input id="title" type="text">
        </div>
        <div>
            <strong>描述</strong>
            <input id="description" type="text">
        </div>
        <div>
            <strong>類型</strong>
            <input id="typeDef" type="text">
        </div>
        <div>
            <strong>狀態</strong>
            <input id="statusDef" type="text">
        </div>
        <div>
            <strong>指派人員</strong>
            <input id="assignUserId" type="text">
        </div>
        <div>
            <button>Create Task</button>
        </div>
    </div>
</body>
</html>