<!DOCTYPE html>
@{
    Layout = null;
}
<html lang="en">
<head>
    <link rel="stylesheet" href="./css/kanban.css">
    <title>Ticket System</title>
</head>
<body>
    <div class="container">
        <div class="kanban-heading">
            <strong class="kanban-heading-text">Ticket System</strong>
        </div>
        <div class="kanban-create-ticket">
            <button id="task-button" onclick="window.open('/Ticket/CreateTicket','_blank','width=300px,height=200px')">Create new task</button>
        </div>
        <div class="kanban-board">
            <div class="kanban-block" id="new">
                <strong>New</strong>
            </div>
            <div class="kanban-block" id="active">
                <strong>Active</strong>
            </div>
            <div class="kanban-block" id="resolve">
                <strong>Resolve</strong>
            </div>
            <div class="kanban-block" id="done">
                <strong>Done</strong>
            </div>
        </div>
    </div>
</body>
</html>